# system files
.DS_Store
.thumbs.db

# package managers
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# frameworks
.quasar

# Specific to this template
#  all folders named data at root or one level below
/data/
/*/data/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
